<h1> {{sajat}}  </h1>

<div *ngFor="let nev of tomb">
  <!-- {{tomb|json}} -->
  {{nev}}
</div>

<div class="container">

  <div class="row my-2 fw-bold">
    <div *ngFor="let oszlop of oszlopok" class="col">
      {{oszlop.text}}
    </div>
    <div class="col">
      Műveletek
    </div>
  </div>

  <div  class="row my-1 ">
    <div *ngFor="let oszlop of oszlopok" class="col">
      
      <ng-container *ngIf="oszlop.type=='plain'; else nemplain">
        {{newFruit[oszlop.key]}}
      </ng-container>

      <ng-template #nemplain>
        <input [(ngModel)]="newFruit[oszlop.key]" [type]="oszlop.type" class="form-control">
      </ng-template>
    </div>
    <div class="col">
        <button (click)="hozzaadas()" type="button" class="btn btn-warning">Mentés</button>
    </div>
  </div>

  <div *ngFor="let gyumi of adat" class="row my-1 ">
    <div *ngFor="let oszlop of oszlopok" class="col">
      
      <ng-container *ngIf="oszlop.type=='plain'; else nemplain">
        {{gyumi[oszlop.key]}}
      </ng-container>

      <ng-template #nemplain>
        <input [(ngModel)]="gyumi[oszlop.key]" [type]="oszlop.type" class="form-control">
      </ng-template>
    </div>
    <div class="col">
      <button type="button" (click)="torles(gyumi)" class="btn btn-danger">Törlés</button>
      <button type="button" class="btn btn-warning">Mentés</button>
    </div>
  </div>

</div>

  <!-- <div *ngFor="let gyumi of adat" class="row">
    {{gyumi|json}} 
    {{gyumi.name}}
  </div>
</div> -->